---
layout: default
id: home
---

<div class="hero-page">
  <div class="hero-content">
    <img class="hero-logo" src="{{ "/images/php-logo-white.png" | prepend: site.baseurl }}" />
    <div class="tagline">
      <div class="hero-header">
        PHP Guidelines
      </div>
      <div class="headline">
        Guia de programaci&oacute;n
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="home">

    <div>
      {% assign pages = site.pages | sort:"menu_order"  %}
      <ul class="icon-menu">
        {% for page in pages %}
          {% if page.categories == 'root page' %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">
              <span class="fa fa-{{ page.icon }}"></span>
              <span>{{ page.title }}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
