<ul class="menu">
  <li class="header">Estandares</li>
  <li>
    <a href="{{ "/standards/index.html" | prepend: site.baseurl }}">Introducción</a>
  </li>
  {% assign pages = site.pages | sort:"menu_order"  %}
  {% for page in pages %}
      {% if page.categories == 'php standard' %}
        {% if page.version == site.last_version %}
          <li>
            <a href="{{ page.url | prepend: site.baseurl }}">{{ page.menu_title }}</a>
          </li>
        {% endif %}
      {% endif %}
  {% endfor %}
</ul>
