<!DOCTYPE html>
<html>

  {% include head.html %}

  <body {% if page.id != 'home'  %} style="margin-top: 57px;" {% endif %}>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="/js/jquery.min.js"></script>
    <script src="/js/toc.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
      $('#toc').toc({
        title: '<i>Contenido</i>',
        listType: 'ul',
        minimumHeaders: 3,
        showEffect: 'slideDown',
        showSpeed: 5
      });
    });
    </script>

    <script type="text/javascript">
    /*
    var WebFontConfig = {
      google: { families: [ 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
    //*/
    </script>

  </body>

</html>
